.interactableListItem {

    button {
        width: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
        height: 30px;
    }

    .addRecipeButton {

        background-color: rgb(79, 79, 243);
    }
    
    .addRecipeButton:hover {
        background-color: rgb(51, 51, 199);
        color: white;
    }
    
    .removeRecipeButton {
        background-color: lightcoral;
        color: black;
    }
    
    .removeRecipeButton:hover {
        background-color: rgb(209, 63, 63);
        color: white;
    }

    li {
        color: white;
    }
}