input {
  width: 600px;
}

button {
  width: 80px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 30px;
}

h1 {
  margin-left: 40px;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.removeRecipeButton {
  background-color: lightcoral;
  color: black;
}

.foundRecipe {
  color: white;
}

.getIngredientList {
  margin-top: 50px;
  width: 200px;
}

