.input-field {
  width: 50%;
  margin-top: 200px;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  width: 20%;
  background-color: rgb(79, 79, 243);
  color: rgb(232, 232, 73);
  border-radius: 20px;
  height: 50px;
}

.column {
  width: 30%;
}

#form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2em;
}

#form-input-container {
  width: 50%;
  background-color: rgb(186, 252, 249);
  border-radius: 2em;
  box-shadow: 0em 0em 0.5em black;
}

#input-div {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#input-label {
  width: 20%;
}

.text-input {
  width: 60%;
  box-sizing: border-box;
}

.select-input {
  width: 60%;
  box-sizing: border-box;
}

#add-ingredient-button {
  margin-bottom: 2em;
}
