@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

body {
  background-color: lightslategray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#addIngredientBtn {
  background-color: rgb(90, 220, 90);
}

#addRecipeBtn {
  background-color: rgb(74, 74, 228);
}

#searchRecipesBtn {
  background-color: orange;
}

header button {
  width: 400px;
  height: 50px;
  margin: auto;
  box-shadow: 10px;
  border-radius: 10px;
  border-color: black;
  font-size: large;
  font-family: Arial;
  color: white;
}